#logout-btn {
  align-self: flex-end;
  margin: 10px;
  padding: 8px 16px;
  background-color: #ff5555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #ff2222;
}
